[alias]
    co = checkout
    st = status
    ci = commit
    di = diff
    l = log --stat
[color]
    ui = auto
[user]
	email = jth@reaktor.com
	name = Janne Härkönen
[merge]
	tool = vimdiff
[http]
	sslVerify = false
